node_modules/
.env


# PORT = 8000
# BASE_URL=/api/v1
# DB_URL=mongodb+srv://management:2eyK9eMrohyL5bLK@cluster0.mjewgzf.mongodb.net/hazira?appName=Cluster0

# JWT_SEC=kdfjdfhnjdhfkjdfh



# CLOUD_NAME=db21zycb0
# API_KEY=523281429566225
# API_SECRET=EymGXIZDwKF7WfcEwayZfYZyN30

# CLIENT_URL=http://localhost:5173

# PORT = 8000
# BASE_URL=/api/v1
# DB_URL=mongodb+srv://management:2eyK9eMrohyL5bLK@cluster0.mjewgzf.mongodb.net/hazira?appName=Cluster0

# JWT_SEC=kdfjdfhnjdhfkjdfh



